VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=proyecto2responsibleai.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=proyecto2responsibleai
VITE_FIREBASE_APP_ID=1:580249070554:web:404d6d95ac2eb0b7a92ee3
VITE_FIREBASE_MESSAGING_SENDER_ID=580249070554
VITE_API_BASE_URL=https://us-central1-proyecto2responsibleai.cloudfunctions.net/api
VITE_USE_EMULATORS=false
VITE_AUTH_EMULATOR_URL=http://127.0.0.1:9099
